<div class="row">
    <div class="col-xs-12">
        <button 
            class="btn btn-success" 
            (click)="onAddRecipe()"
        >
            New Recipe
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <ng-container *ngIf="recipes.length; else infoText">
            <app-recipe-item
                *ngFor="let recipe of recipes" [recipe]="recipe" 
                (recipeSelected)="onRecipeSelected(recipe)"
            >
            </app-recipe-item>
        </ng-container>
        <ng-template #infoText>
            <p>Click in button to add a new recipe!</p>
        </ng-template>
    </div>
</div>

